@import './variables.scss';

* {
  font-family: 'Open Sans', sans-serif;
}

#garage {
  height: 70vh;
  width: 100vw;
  background-color: $main;
}

#garage-door {
  height: 70vh;
  width: 100%;
  background-image: url(../assets/door-texture.png);
  background-size: 50%;
  background-color: $darkmain;
  overflow: hidden;
  position: absolute;
}

button {
  background-color: $darkmain;
  color: $white;
  border-radius: $border-radius;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort-button {
  margin: 10px 0;
}

#item-list {
  height: 100%;
  width: 75%;
  min-width: 400px;
  background-color: $lightmain;
  margin: auto;
  overflow: scroll;
}

#garage-overview {
  display: flex;
  flex-direction: column;
}

#item-counts {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: $border-radius;
  margin: 20px;
  border: 2px solid black;
  background-color: $darkmain;
  box-shadow: $shadow;
  color: $white;
}

.item-info {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

select.single-item-cleanliness {
  width: 100px;
  height: 50px;
}


#controls {
  display: flex;
  background-image: url(../assets/brick-wall.png);
  background-size: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 100vw;
}

#garage-button {
  width: 200px;
  margin-top: 7px;
}

#build-item {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-input {
  width: 100%;
  margin: 7px 0;
}

#submit-item, #item-cleanliness {
  width: 50%;
}

.hidden {
  display: none;
}
