@import './variables.scss';

#garage {
  height: 75vh;
  width: 100vw;
  background-color: $main;
}

#garage-door {
  height: 100%;
  width: 100%;
  background-image: url(../assets/door-texture.png);
  background-size: 50%;
  background-color: $darkmain;
  overflow: hidden;
}

#item-list {
  height: 100%;
  width: 75%;
  min-width: 400px;
  background-color: $lightmain;
  margin: auto;

}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select.single-item-cleanliness {
  width: 100px;
  height: 50px;
}


#controls {
  height: 25vh;
  width: 100vw;
}

#build-item {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-input {
  width: 100%;
  margin: 10px 0;
}

#submit-item, #item-cleanliness {
  width: 50%;
}
